---
const nav = [
    { name: 'What We Do', href: '/' },
    { name: 'Why ClickHouse', href: '/#why-clickhouse' },
    { name: 'Insights', href: '/insights/' },
    { name: 'Contact', href: '/contact/' },
];
---

<footer class="mt-10 py-11 bg-black text-white">
    <div class="wrapper flex flex-col lg:flex-row gap-6 justify-between items-center">
        <div class="">
            <a href="/">
                <img
                    src="/images/clickhouse-logo.svg"
                    class="w-full"
                    alt="ClickHouse logo"
                    loading="lazy"
                    width="208"
                    height="60"
                />
            </a>
        </div>

        <nav>
            <ul class="list-none flex flex-col md:gap-10 md:flex-row flex-wrap m-0 items-center justify-center">
                {nav.map((loop) => (
                    <li>
                        <a
                            href={loop.href}
                            class="no-underline hover-underline-effect"
                        >
                            {loop.name}
                        </a>
                    </li>
                ))}
            </ul>
        </nav>

        <div class="flex gap-4">
            <a href="#" aria-label="Follow us on LinkedIn">
                <img
                    src="/images/icons/linkedin.svg"
                    alt="Facebook icon"
                    width="48"
                    height="48"
                    loading="lazy"
                />
            </a>

            <a href="#" aria-label="Follow us on YouTube">
                <img
                    src="/images/icons/youtube.svg"
                    alt="YouTube icon"
                    width="48"
                    height="48"
                    loading="lazy"
                />
            </a>
        </div>
    </div>

    <div class="wrapper">
        <p class="border-t-[1px] border-[#333333] w-full pt-10 mt-8 text-center text-[#727b89]">
            © 2024 Jetstream Analytics.  All Rights Reserved.  </p>
    </div>
</footer>
