---
// Components
import Page from "layouts/Page.astro";
import HeroSmall from 'components/HeroSmall.astro';
import Blog from "components/Blog.astro";
---

<Page
    title="Blog – ClickHouse"
	description="We help businesses design, build and run sophisticated real time analytics solutions based on ClickHouse, the fastest open source database in the market."
>

    <HeroSmall>
        <h1>Insights</h1>
        <p>We actively share our knowledge and learnings in how we operate and extract value from ClickHouse based on our work with some of the most innovative and demanding use cases. Please visit our insights section to learn more.</p>
    </HeroSmall>

    <Blog showTags />
    
</Page>