---
// Components
import Page from "layouts/Page.astro";
import HeroSmall from 'components/HeroSmall.astro';
import Blog from "components/Blog.astro";
---

<Page
    title="Blog – ClickHouse"
	description="We help businesses design, build and run sophisticated real time analytics solutions based on ClickHouse, the fastest open source database in the market."
>

    <HeroSmall>
        <h1>Insights</h1>
        <p>Sharing knowledge and lessons learnt based on our ClickHouse engagements.</p>
    </HeroSmall>

    <Blog  />
    
</Page>