---
// Components
import Page from "layouts/Page.astro";
import HeroSmall from 'components/HeroSmall.astro';
import Blog from "components/Blog.astro";
---

<Page
    title="Blog – ClickHouse"
	description="We help businesses design, build and run sophisticated real time analytics solutions based on ClickHouse, the fastest open source database in the market."
>

    <HeroSmall>
        <h1>Our Thought Leadership and Resources</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pharetra molestie faucibus. Pellentesque vel imperdiet lectus. Aenean pharetra maximus vulputate. Vivamus non aliquet arcu. Pellentesque mi felis, mollis nec lobortis eget, efficitur vitae lorem. Phasellus consequat, mauris ac venenatis tincidunt, tellus orci sagittis ligula, ac sollicitudin velit mauris ac elit. </p>
    </HeroSmall>

    <Blog showTags />
    
</Page>