---
// Components
import Page from "layouts/Page.astro";
import HeroSmall from 'components/HeroSmall.astro';
import ContactUs from "components/ContactUs.astro";
---

<Page
    title="Contact Us – ClickHouse"
	description="We help businesses design, build and run sophisticated real time analytics solutions based on ClickHouse, the fastest open source database in the market."
>

    <HeroSmall>
        <h1>Contact Us</h1>
        <p>We are a globally distributed team who work with global clients.  Please fill in the form below to get in touch.</p> 
    </HeroSmall>

    <ContactUs />
    
</Page>
