---
// Components
import Page from "layouts/Page.astro";
import Hero from "components/Hero.astro";
import Button from "components/Button.astro";
import Cards from "components/Cards.astro";
import Blog from "components/Blog.astro";

// Assets
import carStreamsImage from 'assets/home/car-streams.jpg';
import cityImage from 'assets/insights/38.jpg';

---

<Page
    title="jetstream | Real Time Analytics Solutions Based On ClickHouse"
	description="We help businesses design, build and run sophisticated real time analytics solutions based on ClickHouse, the fastest open source database in the market."
>


    <Hero>
        <h1>Real Time Analytics Powered By ClickHouse</h1>
        <p>We help businesses design, build and run sophisticated real time analytics solutions powered by ClickHouse, the fastest open source database in the market.</p>
        <Button text="See Our Work" href="/insights/" />
    </Hero>



    <div id="what-we-do" />

    <Cards
        cards={[
            {
                image: '/images/icons/data.svg',
                title: 'Real Time Data Warehouse',
                description: 'Integrate data from across your business for immediately visibility of operations.  Expose analytics and insights through self service dashboards and BI tools.',
            }, {
                image: '/images/icons/analytics.svg',
                title: 'Real Time Analytics',
                description: 'Analyse and monitor your operational business data to identify and respond to situations of interest.  Enable complex data science and machine learning use cases. ',
            }, {
                image: '/images/icons/applications.svg',
                title: 'Real Time Applications',
                description: 'Deploy real time analytical applications for your employees and user facing digitial products for your customers.',
            }, 
        ]}
    >
        <h2>Expert Consultancy and Managed Services For ClickHouse</h2>
        <p>We help clients leverage <a href="https://clickhouse.com">ClickHouse Cloud</a> and <a href="https://github.com/ClickHouse/ClickHouse">ClickHouse Open Source</a> as the engine for their data and analytics ambitions.  Our skills span cloud data engineering, data science and software engineering, deploying end to end solutions that help our clients with their most demanding analytics requirements.  </p>
    </Cards>

    <div id="why-clickhouse" />

    <Cards
        black
        image={cityImage}
        cards={[
            {
                title: 'It’s Fast',
                description: 'ClickHouse is the highest performing analytical database available, making it possible to query large, complex real-time datasets in milliseconds.',
            }, {
                title: 'It’s Cost Effective',
                description: 'ClickHouse has an attractive and scalable cost model with a significantly lower TCO than competitors such as Snowflake.',
            }, {
                title: 'It’s Simple',
                description: 'ClickHouse Cloud offers a fully managed cloud option which requires no setup, configuration or ongoing maintenence.',
            }, 
        ]}
    >
        <h2>Why You Should Build Your Next Analytics Project With ClickHouse</h2>
        <p>Most data and analytics platforms cannot scale to serve real time analytics and customer experiences over high volumes of freshly ingested data.  ClickHouse is unique in it’s ability to do this at a cost effective price point.  With the fully managed <a href="https://clickhouse.com">ClickHouse Cloud</a> and the flexibility of an <a href="https://github.com/ClickHouse/ClickHouse">Open Source</a> deployment model, ClickHouse is uniquely differentiated in the market.</p>
    </Cards>

    <Blog maxAmountOfPosts={3}>
        <h2>Our Thought Leadership And Resources</h2>
        <p>We actively share our knowledge and learnings in how we operate and extract value from ClickHouse based on our work with some of the most innovative and demanding use cases.  Please visit our <a href="/insights">insights section</a> to learn more.</p>
    </Blog>
    
</Page>
