---
interface Props {
    text: string;
    link?: string,
    icon?: string,
}

const { text, link, icon } = Astro.props;

---

<div class="flex relative my-8 gap-4 bg-light-blue rounded-2xl px-4 md:px-8 py-3 items-center">
    {icon &&
        <div class="
            max-w-[48px] min-w-[48px] aspect-square flex max-h-[48px] min-h-[48px]
            justify-center items-center bg-[#0075ff] !rounded-full
        ">
            <img 
                src={icon}
                alt=""
                width="24"
                height="24"
                loading="lazy"
            />
        </div>
    }
    <p class="font-semibold">
        {link &&
            <a href={link} class="
                no-underline after:absolute after:top-0 after:left-0 after:w-full after:h-full
                hover:opacity-75 transition-opacity duration-300
            " >
                {text}
            </a>
        }

        {!link &&
            <span>
                {text}
            </span>
        }
    </p>
</div>