---
---

<section class="bg-black py-[5rem] relative text-white overflow-hidden">
    <div class="wrapper min-h-[65vh] flex items-center">
        <div class="max-w-[40rem]">
            <slot />
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" width="2120" height="2279" viewBox="0 0 2120 2279" style="width: 80%; position: absolute; left: 40%; top: -60%;">
            <defs>
                <filter id="blur-filter0" x="342" y="596" width="1389" height="1409" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feGaussianBlur stdDeviation="150" />
                </filter>
                <filter id="blur-filter1" x="594.5" y="257" width="1525.5" height="1557" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feGaussianBlur stdDeviation="150" />
                </filter>
                <filter id="blur-filter2" x="97.6124" y="257.633" width="1250.64" height="1280.33" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feGaussianBlur stdDeviation="150" />
                </filter>
                <filter id="blur-filter3" x="334.096" y="547.638" width="1528.02" height="1730.92" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feGaussianBlur stdDeviation="150" />
                </filter>
                <filter id="blur-filter4" x="420.567" y="0.491333" width="1148.62" height="1679.06" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feGaussianBlur stdDeviation="150" />
                </filter>
                <filter id="blur-filter5" x="0.358459" y="515.165" width="1206.64" height="1451.12" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feGaussianBlur stdDeviation="150" />
                </filter>
            </defs>

            <g opacity="0.7">
                <path d="M747.269 1301.92C556.617 1414.44 667.831 1617.53 747.269 1705C877.711 1705 1143.93 1678.56 1165.29 1572.81C1191.99 1440.62 1479.79 1454.95 1423.79 1316.9C1367.79 1178.85 1194.59 1246.57 1294.22 1058.38C1393.84 870.19 832.567 855.212 832.567 963.959C832.567 1072.71 985.584 1161.27 747.269 1301.92Z" 
                    fill="#A855F7" filter="url(#blur-filter0)" />
                
                <path d="M1355 886.5L1820 557V1494L894.5 1514L1176.5 1284L1355 886.5Z" 
                    fill="#6366F1" filter="url(#blur-filter1)" />
                
                <g style="mix-blend-mode: color;">
                    <path d="M982.809 829.378L630.625 623.745L448.866 876.719L471.755 1173.91L806.688 1186.76L982.809 829.378Z" 
                        fill="#22D3EE" filter="url(#blur-filter2)" />
                    
                    <path d="M1423.52 848.501C1637.54 835.797 1555.91 1159.52 1488.34 1322.97L1499.31 1330.85L1181.49 1977.99C1070.28 1957.4 811.382 1867.23 665.501 1671.29C483.149 1426.37 1155.99 864.381 1423.52 848.501Z" 
                        fill="#38BDF8" filter="url(#blur-filter3)" />
                    
                    <path d="M1048.66 1358.03C1103.94 1244.08 852.966 694.099 720.567 433.355L868.976 300.491C921.543 404.136 1065.2 639.723 1219.31 752.912C1411.95 894.398 979.566 1500.48 1048.66 1358.03Z" 
                        fill="#D946EF" filter="url(#blur-filter4)" />
                    
                    <path d="M836.648 1641.12C779.613 1751.35 455.357 1472.86 300.358 1319.83C397.024 1185.29 606.203 898.783 669.589 829.071C748.822 741.931 837.023 1087.9 897.476 1211.99C957.929 1336.07 712.462 1276.69 669.909 1362.48C627.356 1448.27 907.942 1503.33 836.648 1641.12Z" 
                        fill="#F43F5E" filter="url(#blur-filter5)" />
                </g>
            </g>
        </svg>

    </div>
</section>