---
import { Picture } from 'astro:assets';

---

<section class="bg-gradient-to-r from-black via-blue-950 to-black pt-[7.5rem] md:pt-[10.5rem] pb-[4rem] relative text-white overflow-hidden">
    <div class="wrapper text-center">
        <div class="z-[1] relative">
            <slot />
        </div>
    </div>
</section>