---
---

<style>
    @keyframes float {
        0% {
            transform: none;
        }
        33% {
            transform: none;
        }
        66% {
            transform: none;
        }
        100% {
            transform: none;
        }
    }

    .gradient-blob {
        animation: none;

    }

    .gradient-blob:nth-child(1) { animation-delay: -1s; }
    .gradient-blob:nth-child(2) { animation-delay: -2s; }
    .gradient-blob:nth-child(3) { animation-delay: -3s; }
    .gradient-blob:nth-child(4) { animation-delay: -4s; }
    .gradient-blob:nth-child(5) { animation-delay: -5s; }
    .gradient-blob:nth-child(6) { animation-delay: -6s; }

    h1 {
        font-weight: 400; /* Align with other headers */
    }

    @media (max-width: 768px) {
        .gradient-blob {
            transform: scale(1.5);
        }
        
        svg {
            top: 0% !important;
            left: -50% !important;
            width: 200% !important;
            height: 150% !important;
            opacity: 0.9 !important;
        }
    }
</style>

<section class="bg-gradient-to-r from-blue-800 via-blue-900 to-blue-950 py-[5rem] relative text-white overflow-hidden gradient-canvas">
    <div class="absolute inset-0 bg-cover bg-center z-0 opacity-50" style="background-image: url('/images/home-background-waves.svg');"></div>
    <div class="wrapper min-h-[52vh] flex items-center">
        <div class="max-w-[43rem] relative z-10 gradient-canvas">
            <h1 class="text-transparent bg-clip-text bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 text-4xl md:text-5xl">
            <slot />
        </div>
    </div>
</section>